<<<<<<< HEAD
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.jpg');
}

.namesite{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-top: 5%;
    color: #fff;
    position: relative;
    font-family: fantasy;
=======
#bg-project{
    background-image:url('img/footWP.jpg');
    background-size:cover;
    background-position: center;
}


#bandeauhaut {
    background-color:rgba(30, 182, 93, 0.5);
>>>>>>> b14d66b7564a3ae5ef4015dd6d2efca5e9c9bf0e
}